{% extends 'base.html' %}
{% from 'pagination.html' import pagination %}
{% block head %}
{{ super() }}
<script defer src="{{ url_for('static', filename='delete.js')}}"></script>
{% endblock %}

{% block content %}
<table class="table">
    <thead>
        <tr>
            <th>
                №
            </th>
            <th>
                Cover
            </th>
            <th>
                ФИО
            </th>
            <th>
                Description
            </th>
            <th>
                Year
            </th>
            <th>
                Publisher
            </th>
            <th>
                Author
            </th>
            <th>
                Page_count
            </th>
            <th>
                Genres
            </th>
            <th>
                action
            </th>
        </tr>
    </thead>
    <tbody>
        {% for book in books_list %}
        <tr>
            <td>
                {{loop.index}}
            </td>
            <td>
                <img class="card-img-top" src="{{ url_for('static', filename = 'img/' + book.filename  ) }}" alt="Card image cap" style = "height:200px">
            </td>
            <td id="Title">
                {{ book.title }}
            </td>

            <td>
                {{ book.description }}
            </td>
            <td>
                {{ book.year }}
            </td>
            <td>
                {{ book.publisher }}
            </td>
            <td>
                {{ book.author }}
            </td>
            <td>
                {{ book.page_count }}
            </td>
            <td>
                {% for genre in genres %}
                {% for bg in bgs %}
                {% if book.id | string== bg.book_id | string and bg.genre_id | string== genre.id | string %} {{ genre.name }} <br> {% endif %}
                {% endfor %}
                {% endfor %}
            </td>
            <td>
                <div class="btn-group" role="group">
                    {% if current_user.is_authenticated %} 
                        {% if current_user.can("show", user) %}
                            <a class="btn btn-secondary" href="{{ url_for('books.show_book', book_id=book.id)}}">See more</a>
                        {% endif %}
                        {% if current_user.can("edit", user) %}
                            <a class="btn btn-primary" href="{{ url_for('books.edit_book', book_id=book.id)}}">Edit</a>
                        {% endif %}

                        {% if current_user.can("delete", user) %}
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" data-title="{{ book.title }}" data-url="{{ url_for('books.delete_book', book_id=book.id)}}"> Delete </button>
                        {% endif %}
                        {% if book.loan_id %}
                            <a class="btn btn-info" href="#">
                                This book loaned 
                                {% if book.loan_id == user.id %}
                                    by you <br>
                                    <form method="post" action="{{ url_for('books.return_book', book_id=book.id) }}">
                                        <!-- Add any additional form fields if needed -->
                                        <input type="submit" value="Reloan Book">
                                    </form>
                                {% else %}
                                    {% if current_user.can("edit", user) %}
                                    by 
                                    {% for us in users %}
                                        {% if us.id == book.loan_id %}
                                            {{ us.login }} - {{ us.last_name }}
                                        {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                {% endif %}
                            </a>
                        {% else %}
                        <a class="btn btn-info" href="#">
                            You need to loan? 
                            <form method="post" action="{{ url_for('books.loan_book', book_id=book.id) }}">
                                <!-- Add any additional form fields if needed -->
                                <input type="submit" value="Click here">
                            </form>
                        {% endif %}
                    {% endif %}  
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if current_user.is_authenticated and current_user.can("create") %}
<a class="btn btn-primary mb-4" href="{{ url_for('books.new_book') }}">Add a book</a>
{% endif %}
{{ pagination(current_page, last_page, request.endpoint) }}
<br>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Delete</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Are you sure you want to delete
          <span class="delete-title"></span>
          ?
          <form action="" class="d-none" method="POST">
            <input type="submit" id="submit-delete">
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <label for="submit-delete" class="btn btn-danger mb-0">Delete</label>
        </div>
      </div>
    </div>
  </div>

  <script src="{{ url_for('static', filename='delete.js')}}"></script>
{% endblock %}